header {
    background-color: #ffdb3a;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    background-color: rgb(100, 100, 100);
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar1,
.sidebar2 {
    background-color: rgb(230, 230, 230);
    text-align: center;
}

header,
.sidebar1,
.sidebar2,
main {
    padding: 15px;
}

/* **************************

	Holy Grail Layout with CSS Grid

************************** */

/* Define grid areas */
header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.wrapper {
    display: grid;
    grid-template-areas: "header header header"
	                     "sidebar1 main sidebar2"
	                     "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px
						1fr
						30px;
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-areas: "header"
		                     "sidebar1"
		                     "main"
		                     "sidebar2"
		                     "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px
							50px
							1fr
							50px
							30px;
    }
}
